/*
style sheet for the components in App.js
and global styling
*/

body {
  font-family: "Helvetica Neue", sans-serif; //this is the font twitter uses
  //padding: 10px;
  width: 1380px;
  margin-left: auto;
  margin-right: auto;
  background-color: ghostwhite;
}

.clickable {
  cursor: pointer
}

.TweetView {
  width: 520px; //height & width of box
  height: 430px;
  display: block;
  overflow-y: scroll;
  overflow-x: hidden;
  border-color: dimgrey;
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
}